<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE project>
<Configuration status="off">

    <Properties>
        <!-- ログ出力フォーマット指定 -->
        <Property name="logformat">[%d] %5p - %m %n</Property>
    </Properties>

    <Appenders>
        <!-- ログ出力先指定（標準出力に出力） -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${logformat}"/>
        </Console>

        <!-- ログ出力先指定（指定ファイルに出力：履歴付き） -->
        <RollingFile name="logFile" append="false" fileName="./logs/exmp-task.log"
                 filePattern="c:/temp/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>${logformat}</Pattern>
            </PatternLayout>
            <Policies>
                <!-- ログファイル最大サイズ(超えたらローテート) -->
                <SizeBasedTriggeringPolicy size="25 MB"/>
            </Policies>
            <!-- ログファイル履歴最大値(ここでは10世代) -->
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <!-- INFOレベル以上の情報を、ログファイルに出力するよ -->
            <AppenderRef ref="logFile" level="info"/>
            <!-- DEBUGレベル以上の情報を、標準出力に出力するよ -->
            <AppenderRef ref="Console" level="debug"/>
        </Root>
    </Loggers>

</Configuration>